.main {
    min-height: 100%;
    position: relative;
    z-index: 2000;

    transition: opacity 0.3s ease;
    &._loaded {
        .main__circle {
            transform: scale(1);
        }
        .main__links {
            opacity: 1;
            transform: translateY(0);
        }
        .main__container {
            opacity: 1;
        }
    }
    @media (max-height: 1080px) {
        min-height: 100vh;
    }
    @media all and (max-width: 568px) {
        picture img.mobile {
            display: block;
        }
        picture img.desktop {
            display: none;
        }
    }
    picture img.mobile {
        display: none;
    }
    &__circle {
        margin: 0 0 40px 0;
        transition: transform 0.3s ease 0.3s;
        transform: scale(0);
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    &__container {
        opacity: 0;
        position: relative;
        max-width: 1400px;
        min-height: 100vh;
        padding: 30px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        overflow-y: auto;
        @media (max-height: 1080px) {
            min-height: 100vh;
        }
    }

    &__title {
        letter-spacing: -2px;
        color: #2c3e50;
        @include adaptiv-value("font-size", 80, 50, 0);
        font-weight: 600;
        margin: 0 0 30px 0;
        @media (max-width: 767px) {
            margin: 0 0 15px 0;
        }
    }

    &__subtitle {
        font-size: 20px;
        margin: 0 0 50px 0;
        color: #76818d;
        @media (max-width: 767px) {
            margin: 0 0 25px 0;
        }
    }

    &__links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 0.4s ease 0.7s, opacity 0.4s ease 0.7s;
        .button {
            color: #fff;
            border: 1px solid #fff;
            &:hover {
                color: $main-color;
                background-color: #fff;
            }
        }
    }
}
