.title {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #2c3e50;
    font-size: 30px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease;
    &._active {
        transform: translateY(0);
        opacity: 1;
        &::after {
            width: 70px;
        }
    }
    &:after {
        content: "";
        width: 0%;
        display: block;
        height: 4px;
        position: relative;
        background: #e87e04;
        margin: 15px auto 0 auto;
        border: 0;
        transition: width 0.2s ease 0.3s;
    }
}
